{% extends 'base.html.twig' %}

{% block body %}
<div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for image in club.images %}
                <div class="swiper-slide">
                    <a href="{{ image.name }}" class="grid image-link">
                        <img src="{{ image.name }}" style="width: 100%;"class="img-fluid" alt="#">
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
    
        <section class="section">
            <br>
            <br>
            <div class="list" style="margin-left: auto;margin-right: auto;">
                <ul>
                    <li>Naziv</li>
                    <li>Cijena</li>
                </ul>
                {% for drink in drinks %}
                    <ul>
                        <li data-label="Naziv">{{ drink.name }}</li>
                        <li data-label="Cijena">{{ drink.price }} KM</li>
                    </ul>
                {% endfor %}
        
            </div>

        </section>
{% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/drink.css')}}">
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('site/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('site/js/popper.min.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- Magnific popup JS -->
    <script src="{{ asset('site/js/jquery.magnific-popup.js')}}"></script>
    <script src="{{ asset('site/js/swiper.min.js')}}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
{% endblock %}