{% extends 'owner_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.price) }}
                    {{ form_errors(form.price) }}
                </div>
            
                <div class="col-4">
                    <br>
                    <div class="form-control" style="background-color: #eeeeee; border: 0px;">
                    
                    <input type="submit" class="btn btn-primary form-control" value="Dodaj">
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

            <div class="list">
                <ul>
                    <li>Naziv</li>
                    <li>Cijena</li>
                    <li>Izbriši</li>
                </ul>
                {% for drink in club.drinks %}
                    <ul>
                        <li data-label="first name">{{ drink.name }}</li>
                        <li data-label="last name">{{ drink.price }}</li>
                        <li data-label="country"><a href="{{ path('owner_drink_delete', {id: drink.id}) }}" type="button" class="btn btn-danger">Izbriši</a></li>
                    </ul>
                {% endfor %}
        
            </div>

        </section>
    </div>
{% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/drink.css')}}">
 {% endblock %}