{% extends 'admin_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

             <div class="row">
                <div class="col-6">
                    {{ form_row(form.user.firstName) }}
                    {{ form_errors(form.user.firstName) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.user.lastName) }}
                    {{ form_errors(form.user.lastName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.user.email) }}
                    {{ form_errors(form.user.email) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.user.plainPassword) }}
                    {{ form_errors(form.user.plainPassword) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.address) }}
                    {{ form_errors(form.address) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.longitude) }}
                    {{ form_errors(form.longitude) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.latitude) }}
                    {{ form_errors(form.latitude) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.longitude) }}
                    {{ form_errors(form.longitude) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.latitude) }}
                    {{ form_errors(form.latitude) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.barTables) }}
                    {{ form_errors(form.barTables) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.seatingTables) }}
                    {{ form_errors(form.seatingTables) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.vipTables) }}
                    {{ form_errors(form.vipTables) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.webSite) }}
                    {{ form_errors(form.webSite) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.rating) }}
                    {{ form_errors(form.rating) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.startWorking) }}
                    {{ form_errors(form.startWorking) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.endWorking) }}
                    {{ form_errors(form.endWorking) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.header) }}
                    {{ form_errors(form.header) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.premium) }}
                            {{ form_errors(form.premium) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                    </div>

                </div>
                <div class="col-10">
                    <img id="output" width="600" height="200" src="http://placehold.it/200"/>
                    {{ form_row(form.attachDocument) }}
                    {{ form_errors(form.attachDocument) }}
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    {{ form_row(form.attachPictures) }}
                    {{ form_errors(form.attachPictures) }}
                    <div id="pictures" class="row">
                        {% for image in  club.images %}
                            <div class="col-md-3">
                                {% set imageSrc = vich_uploader_asset(image, 'file')%}
                                <img width="150" height="150" src="{{ imageSrc }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <script>
        var loadFiles = function(event) {
            Array.from(event.target.files).forEach(file => {
                var elem = document.createElement("img");
                console.log(file);
                elem.src = URL.createObjectURL(file);
                elem.setAttribute("height", "150");
                elem.setAttribute("width", "150");
                var div = document.createElement("div");
                div.setAttribute("class", "col-md-3");
                div.appendChild(elem);
                document.getElementById("pictures").appendChild(div);
            });

        };
    </script>
{% endblock %}