{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="col-12 grid-margin stretch-card">
        {% for club in clubs %}
            <div class="col-10 mb-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{{ path('admin_club_form', {'id' : club.id}) }}">
                            <div class="row">
                                <div class="col-md-4">
                                    {#{% set imageSrc = vich_uploader_asset(club.images[0], 'file') %}#}
                                    <img src="{{ club.images[0].name }}" class="card-img" alt="stan">
                                </div>
                                <div class="col-md-5 text-primary m-auto">
                                    <strong>Naziv:</strong> {{ club.name }}
                                    <br>
                                    <strong>Tip:</strong> {{ club.type }}
                                    <br>
                                    <strong>Grad:</strong> {{ club.city }} <br>
                                    <strong>Adresa:</strong>{{ club.address }} <br>
                                </div>
                                <div class="col-md-3 text-right text-primary">
{#                                    <h3><strong>Cena:</strong> {{ flat.price }}</h3>#}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <ul class="pagination">
            {{ knp_pagination_render(clubs) }}
        </ul>
    </div>


{% endblock %}