{% extends "bundles/FOSUserBundle/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Uloguj se</h5>
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
               <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
              <div class="form-label-group">
                <div>
                    <input type="text" id="username" name="_username" class="form-control" placeholder="Email" required autofocus>
                </div>
              </div> 
              <div class="form-label-group">
                <div>
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Sifra" required>
                </div>
              </div>
              <div>
                    <div class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">Zapamti me</label>
                    </div>
                    <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="_submit" name="_submit"
                            value="Uloguj se"/>
                </div>

              {# <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Uloguj se</button> #}
              {# <a class="d-block text-center mt-2 small" href="#">Registruj se</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Uloguj se pomocu Google</button>
              <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Uloguj se pomocu Facebook</a> #}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock fos_user_content %}

{% block stylesheets %}
     {{ parent()}}
     <link rel="stylesheet" href="{{ asset('site/css/registration.css')}}">
{% endblock %}
