{% extends 'admin_base.html.twig' %}

{% block body %}

        <div class="list">
                <ul>
                    <li>#</li>
                    <li>Tip</li>
                    <li>Lokal</li>
                    <li>Email</li>
                    <li>Ime</li>
                    <li>Prezime</li>
                    <li>Impersonate</li>
                </ul>
                {% for user in users %}
                    <ul>
                        <li data-label="reference">{{ user.id }}</li>
                        <li data-label="description">{{ user.getType }}</li>
                        <li data-label="first name">{% if user.getType == "Klub" %}{{ user.club.name }}{% endif %}</li>
                        <li data-label="first name">{{ user.email }}</li>
                        <li data-label="last name">{{ user.firstName }}</li>
                        <li data-label="number">{{ user.lastName }}</li>
                        <li data-label="country"><a href="{{ path('owner_idex', {'_switch_user': user.username }) }}"><i aria-hidden="true" class="fa fa-search-plus"></i></a></li>
                    </ul>
                {% endfor %}
        
        </div>

        <ul class="pagination">
            {{ knp_pagination_render(users) }}
        </ul>
    </div>


{% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/drink.css')}}">
    <link rel="stylesheet" href="{{ asset('admin/dist/css/pagination.css')}}">
 {% endblock %}