{% extends 'base.html.twig' %}

{% block body %}
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>Otkrijte sjajna mjesta</h1>
                                    <h5>Otkrijte najbolja mjesta za jelo, piće i provod u vašoj blizini.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form action="{{ path("site_club_search") }}" method="post" class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">     
                                        <input type="text" name="term" placeholder="Šta tražite?" class="btn-group1">
                                        <input type="text" name="city" placeholder="Bijeljina" class="btn-group2">
                                        <button type="submit" class="btn-form"><span class="icon-magnifier search-icon"></span>PRETRAŽI<i class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>
                                <div class="slider-link">
                                    <a href="{{ path("site_club_list") }}">Pretražite Popularno</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--============================= FIND PLACES =============================-->
<section class="main-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>Šta želite pronaći?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
                <div class="row find-img-align">
                    <div class="col-md-12">
                         <a href="{{ path('site_club_list', {type:'Salon'}) }}">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="{{ asset('site/images/salon.jpg')}}" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Saloni</h5>
                                            <p>79 Listings</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </a>
                    </div>   
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('site_club_list', {type:'Klub'}) }}">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="{{ asset('site/images/klub.jpg')}}" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Klubovi </h5>
                                            <p>385 Listings</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row find-img-align">
                    <div class="col-md-12">
                        <a href="{{ path('site_club_list', {type:'Restoran'}) }}">
                            <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="{{ asset('site/images/find-place2.jpg')}}" class="img-fluid" alt="img13" />
                                    <figcaption>
                                        <h5>Restorani</h5>
                                        <p>210 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('site_club_list', {type:'Picerija'}) }}">
                            <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="{{ asset('site/images/pizza.jpg')}}" class="img-fluid" alt="img13" />
                                    <figcaption>
                                        <h5>Picerije </h5>
                                        <p>114 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row find-img-align">
                    <div class="col-md-12">
                        <a href="{{ path('site_club_list', {type:'Kafana'}) }}">
                            <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="{{ asset('site/images/kafana.jpg')}}" class="img-fluid" alt="img13" />
                                    <figcaption>
                                        <h5>Kafane </h5>
                                        <p>577 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('site_club_list', {type:'Pab'}) }}">
                             <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="{{ asset('site/images/pub.jpg')}}" class="img-fluid" alt="img13" />
                                    <figcaption>
                                        <h5>Pabovi </h5>
                                        <p>79 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END FIND PLACES -->
<!--============================= FEATURED PLACES =============================-->
<section class="main-block light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h3>Premium mjesta</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="{{ path('site_club_detail', {id: club1.id}) }}">
                        <img src="{{ club1.images[club1.main].name }}" style="width: 100%;height:291px;" class="img-fluid" alt="#">
                        {% if club1.rating >= 9 %}
                            <span class="featured-rating-green">{{ club1.rating }}</span>
                        {% elseif club1.rating >= 7 %}
                            <span class="featured-rating-orange">{{ club1.rating }}</span>
                        {% else %}
                            <span class="featured-rating">{{ club1.rating }}</span>
                        {% endif %}
                            
                        <div class="featured-title-box">
                            <h6>{{ club1.name }}</h6>
                            <p>{{ club1.type }}</p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>{{ club1.address }}, {{ club1.city }}</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>{{ club1.phone }}</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>{{ club1.webSite }}</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                {% if club1.isOpen == "CLOSED NOW" %}
                                    <div class="closed-now">CLOSED NOW</div>
                                {% else %}
                                    <div class="open-now">OPEN NOW</div>
                                {% endif %}
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="{{ path('site_club_detail', {id: club2.id}) }}">
                        <img src="{{ club2.images[club2.main].name }}" style="width: 100%;height:291px;" class="img-fluid" alt="#">
                        {% if club2.rating >= 9 %}
                            <span class="featured-rating-green">{{ club2.rating }}</span>
                        {% elseif club2.rating >= 7 %}
                            <span class="featured-rating-orange">{{ club2.rating }}</span>
                        {% else %}
                            <span class="featured-rating">{{ club2.rating }}</span>
                        {% endif %}
                        <div class="featured-title-box">
                            <h6>{{ club2.name }}</h6>
                            <p>{{ club2.type }} </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>{{ club2.address }}, {{ club2.city }}</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>{{ club2.phone }}</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>{{ club2.webSite }}</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                {% if club2.isOpen == "CLOSED NOW" %}
                                    <div class="closed-now">CLOSED NOW</div>
                                {% else %}
                                    <div class="open-now">OPEN NOW</div>
                                {% endif %}
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                    <a href="{{ path('site_club_detail', {id: club3.id}) }}">
                        <img src="{{ club3.images[club3.main].name }}" style="width: 100%;height:291px;" class="img-fluid" alt="#">
                        {% if club3.rating >= 9 %}
                            <span class="featured-rating-green">{{ club3.rating }}</span>
                        {% elseif club3.rating >= 7 %}
                            <span class="featured-rating-orange">{{ club3.rating }}</span>
                        {% else %}
                            <span class="featured-rating">{{ club3.rating }}</span>
                        {% endif %}
                        <div class="featured-title-box">
                            <h6>{{ club3.name }}</h6>
                            <p>{{ club3.type }} </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            <ul>
                                <li><span class="icon-location-pin"></span>
                                    <p>{{ club3.address }}, {{club3.city}}</p>
                                </li>
                                <li><span class="icon-screen-smartphone"></span>
                                    <p>{{ club3.phone }}</p>
                                </li>
                                <li><span class="icon-link"></span>
                                    <p>{{ club3.webSite }}</p>
                                </li>

                            </ul>
                            <div class="bottom-icons">
                                 {% if club3.isOpen == "CLOSED NOW" %}
                                    <div class="closed-now">CLOSED NOW</div>
                                {% else %}
                                    <div class="open-now">OPEN NOW</div>
                                {% endif %}
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="{{ path('site_club_list') }}" class="btn btn-danger">Pogledaj ostale</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END FEATURED PLACES -->
{% endblock %}