{% extends 'base.html.twig' %}

{% block body %}
{# <div class="blog-card " data-aos="fade-right" data-aos-duration="1200">
        <div class="meta" >
          <div class="photo"> <img src="{{ asset('site/img/s3.jpg') }}" class="e-img" alt="Italian Trulli"></div>
          <ul class="details">
          
            <div class="text-white d-flex align-items-center  color-foot mt-3 mb-3">
                <span>
                    <li><i class="lni-music p-2"></i><a href="#">Strajk Bend</a></li> 
                    <li> <i class="lni-alarm-clock p-2"></i><a href="#">24.12.2019</a></li> 
                    <li><i class="lni-dinner p-2"></i><a href="#">Meni</a></li> 
                    <li><i class="lni-cup p-2"></i><a href="#">Promocija</a></li>
                </span>
            </div>
           
            
          </ul>
        </div>
        <div class="description">
          
          <h2>Strajk bend </h2>
          <p> 24.decembra 2019godine, zabavljace nas Strajk bend.Promocija Viski 4Red bulla 50km.Provedite vikend uz najbolje</p>
          <p class="read-more">
            <a href="{{ path('site_reservation_form') }}">Rezervisi</a>
          </p>
        </div>
      </div> #}
       {% set alt = true %}
       {% for party in parties %} 
        <div class="blog-card {% if alt == true %}alt{% endif %}">
          <div class="meta">
              <div class="photo"> <img src="{{ party.image.name }}" class="e-img" alt="Italian Trulli"></div>
              <ul class="details">
            
                      <div class="text-white d-flex align-items-center  color-foot mt-3 mb-3">
                          <span>
                              <li><i class="lni-music p-2"></i><a href="#">{{ party.name }}</a></li> 
                              <li> <i class="lni-alarm-clock p-2"></i><a href="#">{{ party.date|date("d/m/Y")}}</a></li> 
                              <li><i class="lni-dinner p-2"></i><a href="#">Meni</a></li> 
                              <li><i class="lni-cup p-2"></i><a href="#">Promocija</a></li>
                          </span>
                      </div>
                    
                      
                    </ul>
          </div>
          <div class="description">
            <h2>{{ party.name }}</h2>
            <p>{{ party.description }}</p>
            <p class="read-more">
              <a href="{{ path('site_reservation_form', {id: party.id}) }}">Rezervisi</a>
            </p>
          </div>
        </div>
        {% set alt = not alt %}
       {% endfor %}
       <ul class="pagination">
          {{ knp_pagination_render(parties) }}
      </ul>





       {# <div class="blog-card">
        <div class="meta">
          <div class="photo"> <img src="{{ asset('site/img/s2.jpg') }}" class="e-img" alt="Italian Trulli"></div>
          <ul class="details">
          
                <div class="text-white d-flex align-items-center  color-foot mt-3 mb-3">
                    <span>
                        <li><i class="lni-music p-2"></i><a href="#">Dzoni</a></li> 
                        <li> <i class="lni-alarm-clock p-2"></i><a href="#">26.12.2019</a></li> 
                        <li><i class="lni-dinner p-2"></i><a href="#">Meni</a></li> 
                        <li><i class="lni-cup p-2"></i><a href="#">Promocija</a></li>
                    </span>
                </div>
               
                
              </ul>
        </div>
        <div class="description">
          
          <h2>Dzoni </h2>
          <p> 25.decembra 2019godine, zabavljace nas Strajk bend.Promocija Viski 4Red bulla 50km.Provedite vikend uz najbolje</p>
          <p class="read-more">
            <a href="{{ path('site_reservation_form') }}">Rezervisi</a>
          </p>
        </div>
      </div>
      <div class="blog-card alt">
        <div class="meta">
            <div class="photo"> <img src="{{ asset('site/img/s8.jpg') }}" class="e-img" alt="Italian Trulli"></div>
            <ul class="details">
          
                    <div class="text-white d-flex align-items-center  color-foot mt-3 mb-3">
                        <span>
                            <li><i class="lni-music p-2"></i><a href="#">Paja</a></li> 
                            <li> <i class="lni-alarm-clock p-2"></i><a href="#">24.12.2019</a></li> 
                            <li><i class="lni-dinner p-2"></i><a href="#">Meni</a></li> 
                            <li><i class="lni-cup p-2"></i><a href="#">Promocija</a></li>
                        </span>
                    </div>
                   
                    
                  </ul>
        </div>
        <div class="description">
          <h2>Bojan i Stefan</h2>
          <p>24.decembra 2019godine, zabavljace nas Strajk bend.Promocija Viski 4Red bulla 50km.Provedite vikend uz najbolje</p>
          <p class="read-more">
            <a href="{{ path('site_reservation_form') }}">Rezervisi</a>
          </p>
    </div> 
</div> #}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
{% endblock %}