{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="wrapper">
        <br>
        <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
                <div>
                    {{ form_row(form.stringDate) }}
                    {{ form_errors(form.stringDate) }}
                </div>
                <div>
                    {{ form_row(form.guestNumber) }}
                    {{ form_errors(form.guestNumber) }}
                </div>
                <div>
                    {{ form_row(form.phone) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="submit-btn">
                    {# <button type="submit">Confirm</button> #}
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            {{ form_end(form) }}
        </div>
         <div class="col-md-3">
        </div>
        </div>
    </div>

    </div>
{% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/reservation_form.css')}}">
 {% endblock %}