{% extends 'base.html.twig' %}

{% block body %}
  <div>
     <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for image in club.images %}
                <div class="swiper-slide">
                    <a href="{{ image.name }}" class="grid image-link">
                        <img src="{{ image.name }}" style="width: 100%;"class="img-fluid" alt="#">
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>

  <div class="timer1">
   <div id="app">
    <div>
        <br>
        <h5 align="center">Izaberite termin:</h5>
        <br>
        <i id="exit" class="fas fa-times"></i>

        <div class="app-date" align="center" onload="My_Date()">
          <input type="date" id="myDate"><br>
        </div>
        <br>

        <div class="app-timetable">
          <div class="date-hour">9:00</div>

          <div class="date-hour date-hour-taken">10:00</div>

          <div class="date-hour">11:00</div>

          <div class="date-hour">12:00</div>

          <div class="date-hour">13:00</div>

          <div class="date-hour">14:00</div>

          <div class="date-hour">15:00</div>

          <div class="date-hour">16:00</div>
        </div>

      </div>
  </div>
  </div>
  </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/field.css')}}">
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('site/js/field.js')}}"></script>
    <script> 
        $(document).ready(function() { 
            document.getElementById("myDate").value = "2019-02-04"; 
        });
    </script>
    <script src="{{ asset('site/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('site/js/popper.min.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- Magnific popup JS -->
    <script src="{{ asset('site/js/jquery.magnific-popup.js')}}"></script>
    <script src="{{ asset('site/js/swiper.min.js')}}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
 {% endblock %}
    



