{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <div class="back">
                <img src="http://cdn.mezzi.com/img/chevron-left-black.png" width="20px" height="40px">
            </div>
            <div class="search">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/95-200.png" width="30px" height="30px">
            </div>
        {{ form_start(form) }}
        <div class="inner">
            <div class="product-picture">
                <img src="http://www.anothermonkeythai.com/wp-content/uploads/2015/06/rest3.jpg">
            </div>
            <div class="product-title">
                <p><strong>{{ club.name }}</strong></p>
            </div>
                <div class="product-text">
            <p>Sto za</p>
            </div>
            <div class="table-choice">
                <div class="row"> 
                    <div class="col-3 table1 minus">
                        <button type="button"><strong>-</strong></button>
                    </div>
                    <div class="col-6">
                        {{ form_row(form.guestNumber) }}
                        {{ form_errors(form.guestNumber) }}
                    </div>
                    <div class="col-3 table1 plus">
                        <button type="button"><strong>+</strong></button>
                    </div>
                </div>
            
            </div>
            <div>
                {{ form_row(form.tableType) }}
                {{ form_errors(form.tableType) }}
            </div>
            <div class="submit-btn">
                {# <button type="submit">Confirm</button> #}
                <input type="submit" class="btn btn-primary" value="Snimi">
            </div>
        </div>
        {{ form_end(form) }}
    </div>




        {# <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-3">
                    {{ form_row(form.guestNumber) }}
                    {{ form_errors(form.guestNumber) }}
                </div>
                <div class="col-1">
                </div>
                <div class="col-3">
                    {{ form_row(form.tableType) }}
                    {{ form_errors(form.tableType) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section> #}
    </div>
{% endblock %}

 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/reservation_form.css')}}">
 {% endblock %}

 {% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
        var number = 2;
        $(".broj").val(number);
        });

        $(".table1.plus").click(function(){
        number = $(".broj").val();
        number = parseInt(number) + 1;
        $(".broj").val(number);
        })

        $(".table1.minus").click(function(){
        number = $(".broj").val();
        number = parseInt(number) - 1;
        /* if(number == 2){
            $(".table.minus").css("button:disabled");
        } */
        if(number > 1){
            $(".broj").val(number);
        }
        })
    </script>
 {% endblock %}