{% extends 'base.html.twig' %}

{% block body %}
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for image in club.images %}
                <div class="swiper-slide">
                    <a href="{{ image.name }}" class="grid image-link">
                        <img src="{{ image.name }}" style="width: 100%;"class="img-fluid" alt="#">
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <br>
    <form action="{{ path('site_choose_date_reservation', {'id': club.id}) }}" method="post">
        <div class="row">
            <div class="col-md-6" align="center">
                <input style="max-width:200px; margin-top: 5px;" id="salon-date" name="salon-date" type="text" class="form-control" readonly>
            </div>
            <div class="col-md-6" align="center">
                <input type="submit" style="min-width:200px; margin-top: 5px;" class="btn btn-primary" value="Započni rezervaciju">
            </div>
        </div>
    </form>
    <div id="calendar"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/iCalendar.css')}}">
 {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('site/js/iCalendar.js')}}"></script>
    <script>
        var iCal = new iCalendar('calendar');
        iCal.render({{list|json_encode|raw}});
    </script>
    <script src="{{ asset('site/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('site/js/popper.min.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- Magnific popup JS -->
    <script src="{{ asset('site/js/jquery.magnific-popup.js')}}"></script>
    <script src="{{ asset('site/js/swiper.min.js')}}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
 {% endblock %}
