{% extends 'owner_base.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
        <div class="row" id="pictures"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <script>
        var loadFiles = function(event) {
            Array.from(event.target.files).forEach(file => {
                var elem = document.createElement("img");
                console.log(file);
                elem.src = URL.createObjectURL(file);
                elem.setAttribute("height", "150");
                elem.setAttribute("width", "150");
                elem.setAttribute("style","margin-top: 25px;");
                var div = document.createElement("div");
                div.setAttribute("class", "col-md-3");
                div.appendChild(elem);
                document.getElementById("pictures").appendChild(div);
            });

        };
    </script>
{% endblock %}