{% extends 'owner_base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p><span>Slike </span></p>
                            </div>
                        </div>
                        <div class="col-md-12 featured-responsive">
                            <div class="detail-filter ">
                                <div class="row">
                                    <div class="col-10">
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center w-100">
                                            <a href="{{ path('owner_table_form') }}" class="btn btn-primary w-100" style="margin-bottom: 1rem">Promjeni sliku</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        <div class="featured-place-wrap">
                            <img src="{{ club.imageOfTables.name }}" class="img-fluid" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}