{% extends 'owner_base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p><span>Slike </span></p>
                            </div>
                        </div>
                        <div class="col-md-12 featured-responsive">
                            <div class="detail-filter ">
                                <div class="row">
                                    <div class="col-10">
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center w-100">
                                            <a href="{{ path('owner_gallery_form') }}" class="btn btn-primary w-100" style="margin-bottom: 1rem">Dodaj sliku</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        {% set i = 0 %}
                        {% for image in club.images %}
                            <div class="col-sm-6 col-lg-4 col-xl-6 featured-responsive">
                            <div class="featured-place-wrap">
                                    <img src="{{ image.name }}" style="width: 100%;height:291px;" class="img-fluid" alt="#">
                                    {% if i == club.main %}
                                        <span class="featured-rating-green">X</span>
                                    {% endif %}
                                    <br>
                                    <div class="featured-title-box">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="reserve-btn">
                                                    <div class="featured-btn-wrap">
                                                        <a href="{{ path('owner_gallery_main', {id: i}) }}" style="padding: 16px 50px;" class="btn btn-success">Početna</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="reserve-btn">
                                                    <div class="featured-btn-wrap">
                                                        <a href="{{ path('owner_gallery_delete', {id: image.id, index: i}) }}" class="btn btn-danger">Izbriši</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% set i = i+1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}