{% extends 'owner_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.address) }}
                    {{ form_errors(form.address) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.longitude) }}
                    {{ form_errors(form.longitude) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.latitude) }}
                    {{ form_errors(form.latitude) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.city) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.longitude) }}
                    {{ form_errors(form.longitude) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.latitude) }}
                    {{ form_errors(form.latitude) }}
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    {{ form_row(form.barTables) }}
                    {{ form_errors(form.barTables) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.seatingTables) }}
                    {{ form_errors(form.seatingTables) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.vipTables) }}
                    {{ form_errors(form.vipTables) }}
                </div>
            </div>

            <div class="row">
                        <div class="col-2">
                            {{ form_row(form.type) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(form.webSite) }}
                            {{ form_errors(form.webSite) }}
                        </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.startWorking) }}
                    {{ form_errors(form.startWorking) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.endWorking) }}
                    {{ form_errors(form.endWorking) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.header) }}
                    {{ form_errors(form.header) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
    </div>
{% endblock %}