{% extends 'base.html.twig' %}

{% block body %}
<div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for image in club.images %}
                <div class="swiper-slide">
                    <a href="{{ image.name }}" class="grid image-link">
                        <img src="{{ image.name }}" style="width: 100%;"class="img-fluid" alt="#">
                    </a>
                </div>
            {% endfor %}

            {# <div class="swiper-slide">
                <a href="{{ asset('site/images/reserve-slide1.jpg')}}" style="width: 100%;height:291px;" class="grid image-link">
                    <img src="{{ asset('site/images/reserve-slide1.jpg')}}" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ asset('site/images/reserve-slide3.jpg')}}" style="width: 100%;height:291px;" class="grid image-link">
                    <img src="{{ asset('site/images/reserve-slide3.jpg')}}" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ asset('site/images/reserve-slide1.jpg')}}" style="width: 100%;height:291px;" class="grid image-link">
                    <img src="{{ asset('site/images/reserve-slide1.jpg')}}" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ asset('site/images/reserve-slide2.jpg')}}" style="width: 100%;height:291px;" class="grid image-link">
                    <img src="{{ asset('site/images/reserve-slide2.jpg')}}" class="img-fluid" alt="#">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="{{ asset('site/images/reserve-slide3.jpg')}}" style="width: 100%;height:291px;" class="grid image-link">
                    <img src="{{ asset('site/images/reserve-slide3.jpg')}}" class="img-fluid" alt="#">
                </a>
            </div> #}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{{ club.name}}</h5>
                <p><span>$$$</span>$$</p>
                <p class="reserve-description">{{ club.header }}</p>
            </div>
            <div class="col-md-6">
                <div class="reserve-seat-block">
                    <div class="reserve-rating">
                        <span>{{ club.rating }}</span>
                    </div>
                    <div class="review-btn">
                        <a href="{{ path('site_drink_list', {id:club.id}) }}" class="btn btn-outline-danger">Meni</a>
                        {# <span>34 reviews</span> #}
                    </div>
                    <div class="reserve-btn">
                        <div class="featured-btn-wrap">
                            {% if club.type == 'Salon' %}
                                <a href="{{ path('site_salon_reservation', {id: club.id}) }}" class="btn btn-danger">Rezerviši</a>
                            {% else %}                              
                                <a href="{{ path('site_party_list', {id: club.id}) }}" class="btn btn-danger">Rezerviši</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->
<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="booking-checkbox">
                        <p>{{ club.description }}</p>
                        <hr>
                    </div>
                    <div class="row">
{#                         <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Bike Parking</span>
                            </label> </div> #}
                        <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Wireless Internet  </span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Pušenje dozvoljeno  </span>
                            </label> </div>
                        <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Parking</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Special</span>
                            </label> </div>
                        <div class="col-md-4">
                            <label class="custom-checkbox">
                                <span class="ti-check-box"></span>
                                <span class="custom-control-description">Primamo kreditne kartice</span>
                            </label>
                        </div>
                    </div>
                </div>
{#                  <div class="booking-checkbox_wrap mt-4">
                    <h5>34 Reviews</h5>
                    <hr>
                    <div class="customer-review_wrap">
                        <div class="customer-img">
                            <img src="{{ asset('site/images/customer-img1.jpg')}}" class="img-fluid" alt="#">
                            <p>Amanda G</p>
                            <span>35 Reviews</span>
                        </div>
                        <div class="customer-content-wrap">
                            <div class="customer-content">
                                <div class="customer-review">
                                    <h6>Best noodles in the Newyork city</h6>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span class="round-icon-blank"></span>
                                    <p>Reviewed 2 days ago</p>
                                </div>
                                <div class="customer-rating">8.0</div>
                            </div>
                            <p class="customer-text">I love the noodles here but it is so rare that I get to come here. Tasty Hand-Pulled Noodles is the best type of whole in the wall restaurant. The staff are really nice, and you should be seated quickly. I usually get the
                                hand pulled noodles in a soup. House Special #1 is amazing and the lamb noodles are also great. If you want your noodles a little chewier, get the knife cut noodles, which are also amazing. Their dumplings are great
                                dipped in their chili sauce.
                            </p>
                            <p class="customer-text">I love how you can see into the kitchen and watch them make the noodles and you can definitely tell that this is a family run establishment. The prices are are great with one dish maybe being $9. You just have to remember
                                to bring cash.
                            </p>
                            <ul>
                                <li><img src="{{ asset('site/images/review-img1.jpg')}}" class="img-fluid" alt="#"></li>
                                <li><img src="{{ asset('site/images/review-img2.jpg')}}" class="img-fluid" alt="#"></li>
                                <li><img src="{{ asset('site/images/review-img3.jpg')}}" class="img-fluid" alt="#"></li>
                            </ul>
                            <span>28 people marked this review as helpful</span>
                            <a href="#"><span class="icon-like"></span>Helpful</a>
                        </div>
                    </div>
                    <hr>
                    <div class="customer-review_wrap">
                        <div class="customer-img">
                            <img src="{{ asset('site/images/customer-img2.jpg')}}" class="img-fluid" alt="#">
                            <p>Kevin W</p>
                            <span>17 Reviews</span>
                        </div>
                        <div class="customer-content-wrap">
                            <div class="customer-content">
                                <div class="customer-review">
                                    <h6>A hole-in-the-wall old school shop.</h6>
                                    <span class="customer-rating-red"></span>
                                    <span class="round-icon-blank"></span>
                                    <span class="round-icon-blank"></span>
                                    <span class="round-icon-blank"></span>
                                    <span class="round-icon-blank"></span>
                                    <p>Reviewed 3 months ago</p>
                                </div>
                                <div class="customer-rating customer-rating-red">2.0</div>
                            </div>
                            <p class="customer-text">The dumplings were so greasy...the pan-fried shrimp noodles were the same. So much oil and grease it was difficult to eat. The shrimp noodles only come with 3 shrimp (luckily the dish itself is cheap) </p>
                            <p class="customer-text">The beef noodle soup was okay. I added black vinegar into the broth to give it some extra flavor. The soup has bok choy which I liked - it's a nice textural element. The shop itself is really unclean (which is the case
                                in many restaurants in Chinatown) They don't wipe down the tables after customers have eaten. If you peak into the kitchen many of their supplies are on the ground which is unsettling... </p>
                            <span>10 people marked this review as helpful</span>
                            <a href="#"><span class="icon-like"></span>Helpful</a>
                        </div>
                    </div>
                </div> #}
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    {# <img src="{{ asset('site/images/map.jpg')}}" class="img-fluid" alt="#"> #}
                    <div class="map-fix1">
                        <!-- data-toggle="affix" -->
                        <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                        <div id="map" data-lat="44.757" data-lon="19.216" data-zoom="16"></div>
                    </div>
                    <div class="address">
                        <span class="icon-location-pin"></span>
                        <p> {{ club.address }}, {{ club.city }}<br></p>
                    </div>
                    <div class="address">
                        <span class="icon-screen-smartphone"></span>
                        <p>{{ club.phone }}</p>
                    </div>
                    <div class="address">
                        <span class="icon-link"></span>
                        <p>{{ club.webSite }}</p>
                    </div>
                    <div class="address">
                        <span class="icon-clock"></span>
                        {% if club.getNumberOfWorkingDays == 7 %}
                            <p>Pon - Ned {{ club.startWorking|date("h:i") }} - {{ club.endWorking|date("h:i") }} <br>
                        {% else %}
                            <p> {% for day in club.workingDays %}
                                   {{ day.day }} 
                                {% endfor %}
                                {{ club.startWorking|date("h:i") }} - {{ club.endWorking|date("h:i") }}
                            <br>
                        {% endif %}
                            {% if club.isOpen == "CLOSED NOW" %}
                                    <span class="closed-now">CLOSED NOW</span>
                                {% else %}
                                    <span class="open-now">OPEN NOW</span>
                                {% endif %}
                        </p>
                    </div>
                    <a href="#" class="btn btn-outline-danger btn-contact">Pošalji poruku</a>
                </div>
{#                 <div class="follow">
                    <div class="follow-img">
                        <img src="{{ asset('site/images/follow-img.jpg')}}" class="img-fluid" alt="#">
                        <h6>Christine Evans</h6>
                        <span>New York</span>
                    </div>
                    <ul class="social-counts">
                        <li>
                            <h6>26</h6>
                            <span>Listings</span>
                        </li>
                        <li>
                            <h6>326</h6>
                            <span>Followers</span>
                        </li>
                        <li>
                            <h6>12</h6>
                            <span>Followers</span>
                        </li>
                    </ul>
                    <a href="#">FOLLOW</a>
                </div> #}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('site/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('site/js/popper.min.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- Magnific popup JS -->
    <script src="{{ asset('site/js/jquery.magnific-popup.js')}}"></script>
    <script src="{{ asset('site/js/swiper.min.js')}}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>

    <script>
        $(".map-icon").click(function() {
            $(".map-fix").toggle();
        });
    </script>
    <script>
        // Want to customize colors? go to snazzymaps.com
        function myMap() {
            var maplat = $('#map').data('lat');
            var maplon = $('#map').data('lon');
            var mapzoom = $('#map').data('zoom');
            // Styles a map in night mode.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: maplat,
                    lng: maplon
                },
                zoom: mapzoom,
                scrollwheel: false
            });
            var marker = new google.maps.Marker({
                position: {
                    lat: maplat,
                    lng: maplon
                },
                map: map,
                title: 'We are here!'
            });
        }
    </script>
    <!-- Map JS (Please change the API key below. Read documentation for more info) -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkBAgPMFkmECk0MGtxHUImEEuq_ynQa3w&callback=myMap&">
    </script>

    <script>
        function changeLocation(newLat,newLng)
            {
               var map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: newLat,
                        lng: newLng
                    },
                    zoom: 13,
                    scrollwheel: false
                });
                var marker = new google.maps.Marker({
                    position: {
                        lat: newLat,
                        lng: newLng
                    },
                    map: map,
                    title: 'We are here!'
                });
            }
    </script>
{% endblock %}