{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 responsive-wrap">
                <div class="row detail-filter-wrap">
                    <div class="col-md-4 featured-responsive">
                        <div class="detail-filter-text">
                            <p>34 Rezultata za <span>{{ type }}</span></p>
                        </div>
                    </div>
                    <div class="col-md-8 featured-responsive">
                        <div class="detail-filter row">
                            <div class="col-md-3">
                                <p>Filter po</p>
                            </div>
                            <div class="col-md-9">
                                <form method="get" action="{{ path('site_club_list') }}">
                                    <div class="row form-group-margin">
                                        <div class="col-md-4">
                                            {{ form_row(form.city) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(form.type) }}
                                        </div>
                                        <div class="col-md-4 d-flex align-items-end">
                                            <div class="text-center w-100">
                                                <input type="submit" class="btn btn-primary w-100" style="margin-bottom: 1rem"
                                                       value="Pretraži"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="map-responsive-wrap">
                                <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row light-bg detail-options-wrap">
                    {% set empty = true %}
                    {% for club in clubs %} 
                        {% set empty = false %}
                        <div onmouseover="changeLocation({{ club.longitude}}, {{ club.latitude }})" class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                            <div class="featured-place-wrap">
                                <a href="{{ path('site_club_detail', {id: club.id}) }}">
                                    <img src="{{ club.images[club.main].name }}" style="width: 100%; height: 291px;" class="img-fluid" alt="#">
                                    {% if club.rating >= 9 %}
                                        <span class="featured-rating-green">{{ club.rating }}</span>
                                    {% elseif club.rating >= 7 %}
                                        <span class="featured-rating-orange">{{ club.rating }}</span>
                                    {% else %}
                                        <span class="featured-rating">{{ club.rating }}</span>
                                    {% endif %}
                                    <div class="featured-title-box">
                                        <h6>{{ club.name }}</h6>
                                        <p>{{ club.type }} </p> <span>• </span>
                                        <p>3 Reviews</p> <span> • </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>{{ club.address }}, {{ club.city }}</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>{{ club.phone }}</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>{{ club.webSite }}</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            {% if club.isOpen == "CLOSED NOW" %}
                                                <div class="closed-now">CLOSED NOW</div>
                                            {% else %}
                                                <div class="open-now">OPEN NOW</div>
                                            {% endif %}
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% if empty %}
                        <div style="height:600px;"></div>
                    {% endif %}
                    <ul class="pagination">
                       {{ knp_pagination_render(clubs) }}
                    </ul>
                    {# <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="{{ asset('site/images/featured2.jpg')}}" class="img-fluid" alt="#">
                                <span class="featured-rating-green">9.5</span>
                                <div class="featured-title-box">
                                    <h6>Joe’s Shanghai</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li><span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li><span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li><span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="open-now">OPEN NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="{{ asset('site/images/featured3.jpg')}}" class="img-fluid" alt="#">
                                <span class="featured-rating">3.2</span>
                                <div class="featured-title-box">
                                    <h6>Tasty Hand-Pulled Noodles</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li><span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li><span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li><span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                        <div class="featured-place-wrap">
                            <a href="detail.html">
                                <img src="{{ asset('site/images/featured4.jpg')}}" class="img-fluid" alt="#">
                                <span class="featured-rating-green">9.5</span>
                                <div class="featured-title-box">
                                    <h6>Pizza - Cicis</h6>
                                    <p>Restaurant </p> <span>• </span>
                                    <p>3 Reviews</p> <span> • </span>
                                    <p><span>$$$</span>$$</p>
                                    <ul>
                                        <li><span class="icon-location-pin"></span>
                                            <p>1301 Avenue, Brooklyn, NY 11230</p>
                                        </li>
                                        <li><span class="icon-screen-smartphone"></span>
                                            <p>+44 20 7336 8898</p>
                                        </li>
                                        <li><span class="icon-link"></span>
                                            <p>https://burgerandlobster.com</p>
                                        </li>

                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> #}
                </div>
            </div>
            <div class="col-md-5 responsive-wrap map-wrap">
                <div class="map-fix">
                    <!-- data-toggle="affix" -->
                    <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                    <div id="map" data-lat="44.757" data-lon="19.216" data-zoom="13"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".map-icon").click(function() {
            $(".map-fix").toggle();
        });
    </script>
    <script>
        // Want to customize colors? go to snazzymaps.com
        function myMap() {
            var maplat = $('#map').data('lat');
            var maplon = $('#map').data('lon');
            var mapzoom = $('#map').data('zoom');
            // Styles a map in night mode.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: maplat,
                    lng: maplon
                },
                zoom: mapzoom,
                scrollwheel: false
            });
            var marker = new google.maps.Marker({
                position: {
                    lat: maplat,
                    lng: maplon
                },
                map: map,
                title: 'We are here!'
            });
        }
    </script>
    <!-- Map JS (Please change the API key below. Read documentation for more info) -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkBAgPMFkmECk0MGtxHUImEEuq_ynQa3w&callback=myMap&">
    </script>

    <script>
        function changeLocation(newLat,newLng)
            {
               var map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: newLat,
                        lng: newLng
                    },
                    zoom: 13,
                    scrollwheel: false
                });
                var marker = new google.maps.Marker({
                    position: {
                        lat: newLat,
                        lng: newLng
                    },
                    map: map,
                    title: 'We are here!'
                });
            }
    </script>

{% endblock %}