
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{ path('site_index') }}">RezervacijaNaKlik</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            {# <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Explore
                                    <span class="icon-arrow-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Listing
                                    <span class="icon-arrow-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            #}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('site_contact') }}">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('site_club_list') }}">Lista</a>
                            </li>
                             {% if is_granted("ROLE_USER") %}
                                  <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moje rezervacije
                                    <span class="icon-arrow-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('site_reservation_list',{'type':'klub'}) }}">Klubovi</a>
                                    <a class="dropdown-item" href="{{ path('site_reservation_list',{'type':'sala'}) }}">Svadbene sale</a>
                                    <a class="dropdown-item" href="#">Sportske sale</a>
                                </div>
                            </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Izloguj se</a>
                                </li>        
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Uloguj se</a>
                                </li>   
                                <li><a href="{{ path('site_user_registration') }}" class="btn btn-outline-light top-btn"><span class="ti-plus"></span>Registracija</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>