<section class="slider d-flex align-items-center">
    <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="slider-title_box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider-content_wrap">
                                <h1>Otkrijte sjajna mjesta</h1>
                                <h5>Otkrijte najbolja mjesta za jelo, piće i provod u vašoj blizini.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <form class="form-wrap mt-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <input type="text" placeholder="Šta tražite?" class="btn-group1">
                                    <input type="text" placeholder="Bijeljina" class="btn-group2">
                                    <button type="submit" class="btn-form"><span class="icon-magnifier search-icon"></span>PRETRAŽI<i class="pe-7s-angle-right"></i></button>
                                </div>
                            </form>
                            <div class="slider-link">
                                <a href="#">Pretražite Popularno</a><span>or</span> <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>