{% extends 'owner_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-8">
                    {{ form_row(form.day) }}
                    {{ form_errors(form.day) }}
                </div>
                <div class="col-4 ">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

             <div class="list">
                <ul>
                    <li>Naziv</li>
                    <li>Izbriši</li>
                </ul>
                {% for day in club.workingDays %}
                    <ul>
                        <li data-label="first name">{{ day.day }}</li>
                        <li data-label="country"><a href="{{ path('owner_day_delete', {id: day.id}) }}" type="button" class="btn btn-danger">Izbriši</a></li>
                    </ul>
                {% endfor %}
        
            </div>

        </section>
    </div>
{% endblock %}


 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('site/css/drink.css')}}">
 {% endblock %}