{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Uloguj se</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Email" required autofocus>
              </div> 
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Sifra" required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Uloguj se</button>
              <a class="d-block text-center mt-2 small" href="#">Registruj se</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Uloguj se pomocu Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Uloguj se pomocu Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
     {{ parent()}}
     <link rel="stylesheet" href="{{ asset('site/css/registration.css')}}">
{% endblock %}
