{% extends 'base.html.twig' %}

{% block body %}
{# <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-6">
                    {{ form_row(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.confirmPassword) }}
                    {{ form_errors(form.confirmPassword) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Registruj se">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
    </div> #}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Registracija</h5>
            {{ form_start(form) }}
              <div class="form-label-group">
                    {{ form_row(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                {# <input type="text" id="inputFirstName" class="form-control" placeholder="Ime" required autofocus> #}
              </div>

               <div class="form-label-group">
                    {{ form_row(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                {# <input type="text" id="inputLastName" class="form-control" placeholder="Prezime" required autofocus> #}
              </div>
              
              <div class="form-label-group">
                    {{ form_row(form.email) }}
                    {{ form_errors(form.email) }}
                {# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required> #}
              </div>
              
              <hr>

              <div class="form-label-group">
                    {{ form_row(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                {# <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> #}
              </div>
              
              <div class="form-label-group">
                    {{ form_row(form.confirmPassword) }}
                    {{ form_errors(form.confirmPassword) }}
                {# <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required> #}
              </div>

              {# <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button> #}
              <input type="submit" style="font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;" class="btn btn-lg btn-primary btn-block text-uppercase" value="Registruj se">
              <a class="d-block text-center mt-2 small" href="#">Sign In</a>
              <hr class="my-4">
             {#  <button style="font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button style="font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button> #}
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
     {{ parent()}}
     <link rel="stylesheet" href="{{ asset('site/css/registration.css')}}">
{% endblock %}
