{% extends 'owner_base.html.twig' %}

{% block body %}
    <div class="container">
        {% if club.type != "Salon" %}
        <div style="width:100%; height:300px;">
            <img style="width:100%; height:300px;" src="{{ club.imageOfTables.name }}"></img>
        </div>
        {% endif %}
        <br>
        <div class="row">
            <br>
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-11 ]">
                <ul class="event-list">
                    
                        {% for reservation in reservations %}
                            <li>
                                <time datetime="2014-07-20">
                                    <span class="day">{{reservation.datetime|date("d")}}</span>
                                    <span class="month">{{reservation.datetime|date("M")}}</span>
                                    <span class="year">{{reservation.datetime|date("Y")}}</span>
                                    <span class="time">ALL DAY</span>
                                </time>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-4">
                                            {% if club.type != "Salon" %}
                                            <h5 class="title">{{ reservation.party.name }}</h5>
                                            <p class="desc">Tip stola: {{reservation.tableType}} ({{reservation.guestNumber}})</p>
                                            {% endif %}
                                            <p class="desc">Korisnik: {{reservation.user.firstName}} {{ reservation.user.lastName}}</p>
                                            {% if club.type == "Salon" %}
                                                <p class="desc">Broj gostiju: ({{reservation.guestNumber}})</p>
                                            {% endif %}
                                            
                                        </div>

                                        <div class="col-8">
                                            <form action="{{ path("owner_reservation_accept", {id:reservation.id}) }}" method="post">
                                            <div class="row">
                                                
                                                    <div class="col-4">
                                                        <br>
                                                        <br>
                                                        {% if club.type != "Salon" %}
                                                        <div class="form-group">
                                                            <select name="table" class="form-control" id="exampleFormControlSelect1">
                                                                {% for table in reservation.party.tables %}
                                                                    <option value="{{table.numberOfTable}}">{{table.numberOfTable}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                         {% endif %}
                                                    </div>
                                                    <div class="col-4">
                                                        <br>
                                                        <br>
                                                        <input type="submit" class="btn btn-primary" value="Prihvati"/>
                                                    </div>
                                                    <div class="col-4">
                                                        <br>
                                                        <br>
                                                        <button type="button" class="btn btn-danger">Odbij</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
 {#                    <li>
                        <time datetime="2014-07-20 0000">
                            <span class="day">8</span>
                            <span class="month">Jul</span>
                            <span class="year">2014</span>
                            <span class="time">12:00 AM</span>
                        </time>
                        <div class="info">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="title">Lapsus bend</h5>
                                    <p class="desc">Tip stola: barski sto</p>
                                    <p class="desc">Korisnik: Stevan Vukovic</p>
                                </div>

                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary">Prihvati</button>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-danger">Odbij</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <time datetime="2014-07-20 2000">
                            <span class="day">20</span>
                            <span class="month">Jan</span>
                            <span class="year">2014</span>
                            <span class="time">8:00 PM</span>
                        </time>
                        <div class="info">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="title">Lapsus bend</h5>
                                    <p class="desc">Tip stola: barski sto</p>
                                    <p class="desc">Korisnik: Stevan Vukovic</p>
                                </div>

                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary">Prihvati</button>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-danger">Odbij</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <time datetime="2014-07-31 1600">
                            <span class="day">31</span>
                            <span class="month">Jan</span>
                            <span class="year">2014</span>
                            <span class="time">4:00 PM</span>
                        </time>
                        <div class="info">
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="title">Lapsus bend</h5>
                                    <p class="desc">Tip stola: barski sto</p>
                                    <p class="desc">Korisnik: Stevan Vukovic</p>
                                </div>

                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-primary">Prihvati</button>
                                        </div>
                                        <div class="col-4">
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-danger">Odbij</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('owner/css/reservation.css')}}" rel="stylesheet">
{% endblock %}