<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RezervacijaNaKlik{% endblock %}</title>
        {% block stylesheets %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="Colorlib">
            <meta name="description" content="#">
            <meta name="keywords" content="#">
            <!-- Page Title -->
            <title>Listing &amp; Directory Website Template</title>
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('site/css/bootstrap.min.css')}}">
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
            <!-- Simple line Icon -->
            <link rel="stylesheet" href="{{ asset('site/css/simple-line-icons.css')}}">
            <!-- Themify Icon -->
            <link rel="stylesheet" href="{{ asset('site/css/themify-icons.css')}}">
            <!-- Hover Effects -->
            <link rel="stylesheet" href="{{ asset('site/css/set1.css')}}">
            <!-- Main CSS -->
            <link rel="stylesheet" href="{{ asset('site/css/style.css')}}">
            <!-- Swipper Slider -->
            <link rel="stylesheet" href="{{ asset('site/css/swiper.min.css')}}">
            <!-- Magnific Popup CSS -->
            <link rel="stylesheet" href="{{ asset('site/css/magnific-popup.css')}}">
            <!-- Magnific Popup CSS -->
            <link rel="stylesheet" href="{{ asset('site/css/event.css')}}">
        {% endblock %}
    </head>
    <body>
        {% include 'site/partial/_header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'site/partial/_footer.html.twig' %}
        {% block javascripts %}
            <script src="{{ asset('site/js/jquery-3.2.1.min.js')}}"></script>
            <script src="{{ asset('site/js/popper.min.js')}}"></script>
            <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>

            <script>
                $(window).scroll(function() {
                    // 100 = The point you would like to fade the nav in.

                    if ($(window).scrollTop() > 100) {

                        $('.fixed').addClass('is-sticky');

                    } else {

                        $('.fixed').removeClass('is-sticky');

                    };
                });
            </script>
        {% endblock %}
    </body>
</html>
