<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('admin/assets/libs/flot/css/float-chart.css')}}" rel="stylesheet">

        <link href="{{ asset('admin/dist/css/style.min.css')}}" rel="stylesheet">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <link href="{{ asset('admin/assets/libs/flot/css/float-chart.css')}}" rel="stylesheet">

        <link href="{{ asset('admin//dist/css/style.min.css')}}" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <link href="{{ asset('owner/css/gallery.css')}}" rel="stylesheet">

        <!-- Simple line Icon -->
        <link rel="stylesheet" href="{{ asset('site/css/simple-line-icons.css')}}">
        <!-- Themify Icon -->
        <link rel="stylesheet" href="{{ asset('site/css/themify-icons.css')}}">
        <!-- Hover Effects -->
        <link rel="stylesheet" href="{{ asset('site/css/set1.css')}}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{{ asset('site/css/style.css')}}">
        <!-- Swipper Slider -->
        <link rel="stylesheet" href="{{ asset('site/css/swiper.min.css')}}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ asset('site/css/magnific-popup.css')}}">
    {% endblock %}
</head>
<body>
<div id="main-wrapper">
    {% include 'owner/partials/_header.html.twig' %}
    {% include 'owner/partials/_sider.html.twig' %}
    <div class="page-wrapper">
        {% block body %} {% endblock %}
    </div>
</div>
{% block javascripts %}


    <!-- Js Plugins -->
    <script src="{{ asset('template/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('template/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('template/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('template/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('template/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('template/js/jquery.slicknav.js') }}"></script>
    <script src="{{ asset('template/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('template/js/main.js') }}"></script>

{% endblock %}
</body>
</html>