{% extends 'owner_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container app-content">
        <section class="section">
            <br>
            {{ form_start(form) }}

            <div class="row">
                <div class="col-3">
                    {{ form_row(form.date) }}
                    {{ form_errors(form.date) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.barTables) }}
                    {{ form_errors(form.barTables) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.seatingTables) }}
                    {{ form_errors(form.seatingTables) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.vipTables) }}
                    {{ form_errors(form.vipTables) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <img id="output" width="600" height="200" src="http://placehold.it/200"/>
                    {{ form_row(form.attachDocument) }}
                    {{ form_errors(form.attachDocument) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4">
                    <input type="submit" class="btn btn-primary" value="Snimi">
                </div>
            </div>

            {{ form_end(form) }}

        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <script>
        var loadFiles = function(event) {
            Array.from(event.target.files).forEach(file => {
                var elem = document.createElement("img");
                console.log(file);
                elem.src = URL.createObjectURL(file);
                elem.setAttribute("height", "150");
                elem.setAttribute("width", "150");
                var div = document.createElement("div");
                div.setAttribute("class", "col-md-3");
                div.appendChild(elem);
                document.getElementById("pictures").appendChild(div);
            });

        };
    </script>
{% endblock %}