{% extends 'owner_base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p><span>Zurke </span></p>
                            </div>
                        </div>
                        <div class="col-md-12 featured-responsive">
                            <div class="detail-filter ">
                                <div class="row">
                                    <div class="col-10">
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center w-100">
                                            <input type="submit" class="btn btn-primary w-100" style="margin-bottom: 1rem"
                                                   value="Dodaj zurku"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        {% for party in club.parties %}
                            <div class="col-sm-6 col-lg-4 col-xl-6 featured-responsive">
                                <div class="featured-place-wrap">
                                    <img src="{{ party.image.name }}" class="img-fluid" alt="#">
                                    <br>
                                    <div class="featured-title-box">
                                        <h6>{{ party.date | date("d/m/Y")  }}</h6>
                                        <p> {{ party.description }} </p>
                                    </div>
                                    <div>
                                        <a class="btn btn-default" href="{{ path('owner_party_export', {id:party.id}) }}">Export</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}