@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

#register-button{
  position:fixed;
  top: 30%;
  width: 200px;
  height: 50px;
  display: box;
  background-color: #fff;
  text-align: center;
  font: 15px/3em Lato, monospace;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#register-button:hover {
  cursor: pointer;
   box-shadow: 0 5px 9px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);  
}
#register-button:active {
  shadow: 0;
}
#app {
  font-family: 'Lato', monospace;
  z-index: 3;
  transition: opacity 200ms ease-out 0.1s;
}
.app-background {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(50,50,50,0.8);
}
.app-window {
  display: grid;
  position:fixed;
  grid-template-areas: 
  "head head"
  "main  aside"  
  "main buttons";
  grid-template-columns: 60% 40%;
  grid-template-rows: 80px 340px auto;

  background: white;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 35px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.app-timetable {
  grid-area: main;
  background-color: #f5f7e8;
  border-radius: 0 0 0 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.app-timetable > .date-hour {
  display: block;
  width: 100%;
  height: 100px;
  border-bottom:1px solid #ddd;
}

.app-timetable > .date-hour-pick {
  color: #e3e3e3;
  background-color: #277fc7;
}
.app-timetable > .date-hour-taken {
  color: #e3e3e3;
  background-color: #be412a;
}
.app-timetable > .date-hour-taken:hover {
  color: #e3e3e3;
  background-color: #ff0000;
}
.app-timetable > .date-hour-available {
  background-color: #e3e3e3;
}
.app-timetable > .date-hour-available:hover {
  background-color: #fff8bb;
}
.today {
  background: rgb(138, 201, 252) !important; 
}
.app-calendar {
  margin: 0;
  font: 15px Lato,sans-serif;
  text-align:center;
  color:#000;
  grid-area: aside;
}
#calendar-grid{
  align-self: center;
  display: grid;
  grid-template-areas: "month month month month month month month"
"wk wk wk wk wk wk wk"
"date date date date date date date"
"date date date date date date date"
"date date date date date date date"
"date date date date date date date"
"date date date date date date date";
  grid-template-columns: repeat(7, 1fr);
  
}
#app-current-month{
  font-size:130%;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
  background:#4286f4;
  padding: 15px;
  color:#fff;
  cursor:default;
  display: flex;
  justify-content: space-between;
  grid-column: span 7;
  text-shadow:0 0 10px rgba(0,0,0,.8);
  margin: 0;
}

#app-current-month > i {
  margin: auto 0;
}
#app-current-month > i:hover {
  cursor: pointer;
}

#days-grid{
  display: block;
  grid-template-areas: "date date date date date date date"
  "date date date date date date date"
  "date date date date date date date"
  "date date date date date date date"
  "date date date date date date date";
  grid-template-columns: repeat(7, 1fr);

}
.date,
.date-hour{
  background:#eee;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding: 10px 6px;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.app-calendar .wk {
  cursor:default;
  background: #fff;
  border: none;
  height: 20px;
  padding: 10px 6px;
  box-sizing: inherit; 
}
.app-calendar .date:hover:not(.current):not(.wk):not(.chosen){
  background:#ddd;
}
.app-calendar .lastmonth, .app-calendar .nextmonth {
  background:#fff;
  color:#999;
}
.app-calendar .current{
  background:#ee3333;
  font-weight:700;
  color:#fff;
  text-shadow:0 0 10px rgba(0,0,0,.5);
}

.app-calendar .chosen{
  background: #4286f4;
  color:#fff;
}
.app-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
}
.button {
  text-align: center;
  line-height: 38px;
  display: box;
  width: 45%;
  margin: 5%;
  height:40px;
  background: #e3e3e3;
  border-color: #000;
}
.button:hover {
  background: #e9e9e9;
  cursor: pointer;
}
#exit {
  font-size: 20px;
  padding: 8px;
  z-index: 4;
  position:fixed;
  top: 0px;
  right: 0px;
  display: block;
  color: #000;
}
#exit:hover {
  cursor: pointer;
}

@media (min-width:400px) { 
  .timer1{
    margin-left: 10%;
    margin-right: 10%;
  }
} 

@media (min-width:750px) { 
  .app-date {
    font: normal normal 300 60px/1em 'Lato', monospace;
    grid-area: head;
    padding: 0 30px;
    border-bottom:1px solid #ddd;
    align-self: end;
    text-transform: uppercase;
 }
} 

