[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s !important;
}

.fade-enter,
.fade-leave-to {
    opacity: 0 !important;
}


/** Calendar **/

#cal {
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    margin: 50px auto;
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
    display: table;
}

#cal .header {
    cursor: default;
    background: #989696;
    background: -moz-linear-gradient(top, #adabab, #676767);
    background: -webkit-gradient(linear, left top, left bottom, from(#adabab), to(#676767));
    height: 34px;
    position: relative;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    text-shadow: 0px -1px 0 #222;
    text-transform: uppercase;
}

#cal .header span {
    display: inline-block;
    line-height: 34px;
}

#cal .header .button {
    width: 24px;
    text-align: center;
    position: absolute;
}

#cal .header .left.button {
    left: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

#cal .header .right.button {
    right: 0;
    top: 0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

#cal .header .button:hover {
    background-color: #6b6b6b;
}

#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

#cal table {
    background: #fff;
    border-collapse: collapse;
}

#cal td {
    color: #2b2b2b;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border: 1px none;
    cursor: default;
}

#cal #days td {
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 90%;
    color: #9e9e9e;
}

#cal #days td:not(:last-child) {}

#cal #cal-frame td.today {
    background: #ededed;
    color: #8c8c8c;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

#cal #cal-frame td span {
    font-size: 80%;
    position: relative;
}

#cal #cal-frame td span:first-child {
    bottom: 5px;
}

#cal #cal-frame td span:last-child {
    top: 5px;
}

#cal #cal-frame table.curr {
    float: left;
}

#cal #cal-frame table.temp {
    position: absolute;
}

table#days tbody tr {
    border-bottom: 1px solid #f1f1f1;
}

table#days td.weekday {
    color: #5d5d5d !important;
    font-weight: 700;
}

div#cal {
    font-family: 'Roboto', sans-serif;
}

table.curr tbody tr:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

table.curr tbody tr:nth-child(5) {
    border-bottom: none !important;
}

table.curr tbody tr:last-child {
    border-bottom: none !important;
}

div#cal-frame div.day {
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.header a.prev,
.header a.next {
    color: #fff;
}

.day.weekend {
    color: #b5b5b5;
}

a.calendarLink {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

div.today a.calendarLink {
    color: #b71616;
    font-weight: 700;
    background: #f3f3f3;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
}

a.calendarLink.selected-link {
    background-color: #d8d8d8;
    border-radius: 50px;
}

a.calendarLink:hover {
    color: #fff;
    background: #ccc;
    transition: 0.3s;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

@media only screen and (max-width: 400px) {
    #cal td {
        width: 75px;
        height: 60px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 1023px) {
    a.calendarLink {}
}



/** Calendar **/
