html,
body {
  margin: 0px;
}

.wrapper, input, button{
 /*  width: 600px; */
font-family: 'Raleway', sans-serif;
}

.inner {
  width: 200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
}

.back {
  position: absolute;
  top: 20px;
  left: 10px;
}

.search {
  position: absolute;
  top: 20px;
  right: 10px;
}

.product-picture {
  margin: 30px 0 0 0;
}

.product-picture img {
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 1em grey;
}

.product-title {
  font-size: 18px;
}

.product-text {
  margin: 50px 0 30px 0;
  font-size: 18px;
}

.table-number {
  font-size: 50px;
}

.table1 {
  line-height: 60px;
}

.table1 button {
  color: black;
  background: transparent;
  border: 0px solid black;
  border-radius:2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: normal;
/*   box-shadow: 0 2px 1em grey; */
  /* box-shadow: 0 2px 1em grey; */
}

.table1 button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

button:disabled {
    opacity: 0.65;
}

.minus {
  float: left;
}

.plus {
  float: right;
}

.date-title {
  margin-top: 30px;
}

.date-picker {
  width:100%;
  position: relative;
  margin: auto;
}

.date-picker>input {
  border: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
}

.date-picker>input[type="date"] {
  top: 0;
  left: -60px;
}

.date-picker>input[type="time"] {
  top: 0px;
  left: 160px;
}

.submit-btn {
  margin: 20px 0 20px 0;
}

.submit-btn button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius:2px;
  width: 200px;
  height: 50px;
/*   box-shadow: 0 2px 1em grey; */
  font-size:20px;
  font-family: 'Raleway', sans-serif;
}

.submit-btn button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

button, input {
  font-family:Marmelad;
}
.credit{
  position:relative;
  bottom:0px;
  left:5px;
  margin:0px;
  width:50%;
}
.credit p{
  display:inline;
}